.card.card--health-conditions
  .section.section--health
    .group.group--title
      h2
        +translate({key:'health'})
      details.section__details
        summary
          .section__toggle
            img.font-awesome(src=`${imgServer}/mperes/Blood-and-Doom/refs/heads/main/static/cog.svg` data-i18n-alt='toggle-edit-mode')
          .section__blocker
        .card
          h2
            +translate({key:'health'})
          .group.group--maxes
            each bar in spine.health.bars
              +number-input({name:`${bar.name}-max`, value:bar.max, label:{key:`${bar.name}-max`}, html:{class:'number-input--simple number-input--align-center labelled--left labelled--nowrap'}})
      .section__toggle
        img.font-awesome(src=`${imgServer}/mperes/Blood-and-Doom/refs/heads/main/static/cog.svg` data-i18n-alt='toggle-edit-mode')   
      +action-button({name:'rest', label:{key:'long-rest'}})
    .group.group--bars
      each bar in spine.health.bars
        -
          const barProperties = {
            name: bar.name,
            steps: bar.steps,
            max: bar.max,
            label: { key: bar.name },
            html: { class: `rangebar--${bar.name} labelled--nowrap` }
          };
          if(Array.isArray(bar.values)) barProperties.label.append = ` (${bar.values.join('/')})`;
        +rangebar(barProperties)
  .section.section--conditions
    .table.table--conditions
      .table__header
        h3
          +translate({key:'conditions'})
        h3
          +translate({key:'treatment'})
      .table__body
        +repeating-section({name:'condition', html:{class:'repeating-section--edit-only repeating-section--fixed repeating-section--locked'}})
          mixin repeating-edit
            +text-input({name:'name', html:{class:'text-input--simple'}})
            +number-input({name:'treatment', html:{class:'number-input--simple'}})
.card.card--resolve
  .section.section--resolve.spread-items
    h2
      +translate({key:'resolve'})
    each attribute in spine.resolve.attributes
      +number-input({name:attribute, label:{key:attribute}, html:{class:'number-input--simple number-input--align-center'}})
.card.card--evasion-armor
  .spread-items
    .section.section--evasion
      h2
        +translate({key:'evasion'})
      .group.group--evasion
        +number-input({name:'evasion-score', label:{key:'score'}, html:{class:'number-input--simple number-input--align-center labelled--bottom-center'}})
        .group__separator /
        +number-input({name:'evasion-average', label:{key:'average'}, html:{class:'number-input--simple number-input--align-center labelled--bottom-center'}})
    .section.section--armor
      h2
        +translate({key:'armor'})
      +number-input({name:'armor', label:{image:'/mperes/Blood-and-Doom/refs/heads/main/static/shield.svg', key:'armor'}, html:{class:'number-input--simple number-input--align-center'}})
      +number-input({name:'armor-empty', label:{image:'/mperes/Blood-and-Doom/refs/heads/main/static/shield-slash.svg', key:'armor-empty'}, html:{class:'number-input--simple number-input--align-center'}})
.card.card--abilities-skills
  .section.section--abilities-skills
    h2
      +translate({key:'abilities-and-skills'})
    .group.group--abilities-skills
      each attributes, group in spine.abilitiesAndSkills
        .group(class=`group--${group}`)
          h3
            +translate({key:group})
          .group.group--attributes
            each skills, attribute in attributes
              .group(class=`group--${attribute}`)
                +number-input({name:attribute, label:{key:attribute}, html:{class:'number-input--boxed'}})
                .group.group--skill-list
                  each skill in skills
                    +number-input({name:skill, label:{key:skill}, html:{class:'number-input--simple  number-input--align-center'}})
.group.group--knowledge-magic
  .card.card--knowledge
    .section.section--knowledge
      .group.group--title
        h2
          +translate({key:'knowledge'})
        +number-input({name:'mind', label:{key:'basic-knowledge'}, html:{class:'number-input--boxed'}})
      +repeating-section({name:'knowledge', html:{class:'repeating-section--edit-only'}})
        mixin repeating-edit
          +text-input({name:'name', list:'knowledge-list', html:{class:'text-input--simple'}})
          +number-input({name:'score', html:{class:'number-input--simple number-input--align-center'}})
  .card.card--magic
    .section.section--magic
      h2
        +translate({key:'magic'})
      .group.group--entries
        .group.group--spellcasting
          h3
            +translate({key:'spellcasting'})
          each attribute in ['ability', 'skill', 'total']
            +number-input({name:`spellcasting-${attribute}`, label:{key:attribute}, html:{class:'text-input--simple number-input--align-center labelled--top-center'}})
        .group.group--magic-points
          h3
            +translate({key:'magic-points'})
          each attribute in ['current', 'max']
            +number-input({name:`spellcasting-${attribute}`, label:{key:attribute}, html:{class:'text-input--simple number-input--align-center labelled--top-center'}})
.card.card--weapons-armor-ammunition-unarmed
  .group.group--weapons-armor
    h2
      +translate({key:'weapons-and-armor'})
    .group.group--spread
      .section.section--weapons
        .table.table--weapons.table--highlighted
          .table__header
            +translate({key:'name'})  
            +translate({key:'ability-plus-skill'})
            +translate({key:'tags-and-attributes'})
            +translate({key:'damage'})
            img.font-awesome(src=`${imgServer}/mperes/Blood-and-Doom/refs/heads/main/static/dented.svg` data-i18n-title='dented' data-i18n-alt='dented')
          .table__body
            +repeating-section({name:'weapon', html:{class:'repeating-section--fixed repeating-section--locked'}})
              mixin repeating-view
                +display({name:'name', html:{class:'text-input--simple'}})
                +display({name:'ability-skill', html:{class:'text-input--simple'}})
                +display({name:'attributes', html:{class:'text-input--simple'}})
                +display({name:'damage', append:'damage-type', html:{class:'text-input--simple'}})
                +checkbox-input({name:'dented',value:'1', html:{class:'checkbox--simple checkbox-input--xmarked'}})
              mixin repeating-edit
                +text-input({name:'name', html:{class:'text-input--simple'}})
                +text-input({name:'ability-skill', html:{class:'text-input--simple'}})
                +text-input({name:'attributes', html:{class:'text-input--simple'}})
                .group.group--damage
                  +text-input({name:'damage', placeholder:'damage-placeholder', html:{class:'text-input--simple'}})
                  +text-input({name:'damage-type', placeholder:'damage-type-placeholder', html:{class:'text-input--simple'}})
                +checkbox-input({name:'dented',value:'1', html:{class:'checkbox--simple checkbox-input--xmarked'}})
      .section.section--armor-info
        +text-input({name:'armor-name', label:{key:'armor-name-and-info'}, html:{class:'text-input--simple labelled--left labelled--nowrap'}})
        .group.group--armor-score
          +checkbox-input({name:'armor-score',value:'5', html:{class:'checkbox--simple checkbox-input--xmarked'}})
          +checkbox-input({name:'armor-score',value:'4', html:{class:'checkbox--simple checkbox-input--xmarked'}})
          +checkbox-input({name:'armor-score',value:'3', html:{class:'checkbox--simple checkbox-input--xmarked'}})
          +checkbox-input({name:'armor-score',value:'2', html:{class:'checkbox--simple checkbox-input--xmarked'}})
          +checkbox-input({name:'armor-score',value:'1', html:{class:'checkbox--simple checkbox-input--xmarked'}})
        //+rangebar({name:'armor-score', steps: 5})
  .group.group--ammunition-unarmed
    .section.section--ammunition
      h2
        +translate({key:'ammunition'})
      .table.table--ammunition.table--highlighted
        .table__header
          +translate({key:'name'})  
          +translate({key:'quantity'})
          //img.font-awesome(src=`${imgServer}/mperes/Blood-and-Doom/refs/heads/main/static/hash.svg` alt='quantity')
        .table__body
          +repeating-section({name:'ammunition', html:{class:'repeating-section--edit-only repeating-section--fixed repeating-section--locked'}})
            mixin repeating-edit
              +text-input({name:'name', html:{class:'text-input--simple'}})
              .group.group--quantity
                +number-input({name:'quantity-current', html:{class:'number-input--simple number-input--align-center'}})
                .group__separator /
                +number-input({name:'quantity-max', placeholder:'max', html:{class:'number-input--simple number-input--align-center'}})
    .section-separator.section-separator--horizontal
    .section.section--unarmed-attacks
      h2
        +translate({key:'unarmed-attacks'})
      .group.group--attacks
        +text-input({name:'unarmed-attack-ability-skill', label:{key:'ability-plus-skill'}, html:{class:'text-input--simple labelled--left labelled--nowrap'}})
        +text-input({name:'unarmed-attack-damage', label:{key:'damage'}, html:{class:'text-input--simple labelled--left labelled--nowrap'}})
    .section-separator.section-separator--horizontal.section-separator--narrow
    .section.section--combat-resolve-difficulty
      +number-input({name:'combat-resolve-difficulty', label:{key:'combat-resolve-difficulty'}, html:{class:'number-input--simple labelled--left labelled--nowrap'}})
.card.card--traits-powers-spells
  .section.section--traits-powers-spells
    .group.group--title
      h2
        +translate({key:'traits-powers-spells'})
      +number-input({name:'class-resolve-difficulty', label:{key:'class-resolve-difficulty'}, html:{class:'number-input--simple labelled--left labelled--nowrap'}})
    .group.group--traditions
      - let i = 0;
      each levels, tradition in spine.traditions
        if i === 1 || i === 2
          .section-separator.section-separator--vertical
        - i++
        .section.section--tradition(class=`section--tradition-${tradition}`)
          h3
            +translate({key:`tradition ${tradition}`})
          +translate({key:`level-${levels}`})
          +repeating-section({name:`tradition-${tradition}`, html:{class:'repeating-section--edit-only'}})
            mixin repeating-edit
              +text-input({name:'name', html:{class:'text-input--simple'}})
              +number-input({name:'score', html:{class:'number-input--simple number-input--align-center'}})
              +checkbox-input({name:'active', html:{class:'checkbox-input--simple'}})
  