mixin translate(options)
  - options.html = options.html || {};
  span.translation&attributes(options.html)
    if options.prepend
      span(class="translation__prepend")=options.prepend
    if options.image
      img(class="translation__image" src=`${imgServer}${options.image}` alt=options.key)
    else if options.key
      span(class="translation__key" data-i18n=options.key)
    if options.append
      span(class="translation__append")=options.append

mixin rangebar(options)
  - options.html = options.html || {};
  .rangebar&attributes(options.html)
    if options.label 
      label
        +translate(options.label)
        if options.steps && options.name
          .rangebar__steps
              each _, i in Array(options.steps)
                - const step = options.steps - i;
                input(type='checkbox' name=`attr_${options.name}` value=step)
    else if options.steps && options.name
      .rangebar__steps
        each _, i in Array(options.steps)
          - const step = options.steps - i;
          input(type='checkbox' name=`attr_${options.name}` value=step)

mixin text-input(options)
  - 
    options.html = options.html || {};
    const inputOptions = {};
    if(options.placeholder) inputOptions['data-i18n-placeholder'] = options.placeholder;
  .text-input.labelled&attributes(options.html)
    - delete options.html;
    if options.label 
      label
        +translate(options.label)
        if options.name
          if options.list
            input(type='text' name=`attr_${options.name}` list=options.list)&attributes(inputOptions)
          else
            input(type='text' name=`attr_${options.name}`)&attributes(inputOptions)
    else if options.name
      if options.list
        input(type='text' name=`attr_${options.name}` list=options.list)&attributes(inputOptions)
      else
        input(type='text' name=`attr_${options.name}`)&attributes(inputOptions)

mixin number-input(options) 
  - 
    options.html = options.html || {};
    const inputOptions = {};
    if(options.placeholder) inputOptions['data-i18n-placeholder'] = options.placeholder;
  .number-input.labelled&attributes(options.html)
    - delete options.html;
    if options.label 
      label
        +translate(options.label)
        if options.name
          input(type='number' name=`attr_${options.name}`)&attributes(inputOptions)
    else if options.name
      input(type='number' name=`attr_${options.name}`)&attributes(inputOptions)

mixin display(options)
  - options.html = options.html || {};
  .display&attributes(options.html)
    - delete options.html;
    if options.label 
      label
        +translate(options.label)
        if options.name
          span(name=`attr_${options.name}`)
    else if options.name
      span(name=`attr_${options.name}`)

mixin repeating-section(options)
  - options.html = options.html || {};
  block
  .repeating-section&attributes(options.html)
    - const editOnly = options.html && options.html.class && options.html.class.includes('repeating-section--edit-only');
    - delete options.html;
    fieldset(class=`repeating_${options.name}`)
      .repeating-section__toggle
        img(src=`${imgServer}/cHrTTyZb/edit.png` data-i18n-alt='toggle-edit-mode')
        input(type='checkbox' name='attr_repeating-toggle')
      if !editOnly
        .repeating-section__view
          +repeating-view
      .repeating-section__edit
        +repeating-edit

mixin data-list(options)
  - options.html = options.html || {};
  datalist(id=options.id)&attributes(options.html)
    - delete options.html;
    if options.list
      each option in options.list
        option(value=item data-i18n=option)

each options, list in spine.lists
  +data-list({id:`${list}-list`, list:options})    
   
.sheet__container
  .card.card--header
  .card.card--health-conditions
    .section.section--health
      h2
        +translate({key:'health'})
      each bar in spine.health.bars
        -
          const barProperties = {
            name: bar.name,
            steps: bar.steps,
            label: { key: bar.name },
          };
          if(Array.isArray(bar.values)) barProperties.label.append = ` (${bar.values.join('/')})`;
        +rangebar(barProperties)
    .section.section--conditions
      .table.table--conditions
        .table__header
          h3
            +translate({key:'conditions'})
          h3
            +translate({key:'treatment'})
        .table__body
          +repeating-section({name:'condition', html:{class:'repeating-section--edit-only'}})
            mixin repeating-edit
              +text-input({name:'condition', placeholder:'condition', list:'knowledge-list', html:{class:'text-input--simple'}})
              +text-input({name:'treatment', placeholder:'treatment', list:'knowledge-list', html:{class:'text-input--simple'}})
  .card.card--resolve
    .section.section--resolve
      h2
        +translate({key:'resolve'})
      each attribute in spine.resolve.attributes
        +number-input({name:attribute, label:{key:attribute}, html:{class:'number-input--simple'}})
  .card.card--evasion-armor
    .section.section--evasion
      h2
        +translate({key:'evasion'})
      .group.group--evasion
        +number-input({name:'evasion-score', label:{key:'score'}, html:{class:'number-input--simple number-input--align-center labelled--bottom-center'}})
        .group__separator /
        +number-input({name:'evasion-average', label:{key:'average'}, html:{class:'number-input--simple number-input--align-center labelled--bottom-center'}})
    .section.section--armor
      h2
        +translate({key:'armor'})
      +number-input({name:'armor', label:{image:'/kXrkprDN/shield.png', key:'armor'}, html:{class:'number-input--simple number-input--align-center'}})
      +number-input({name:'armor-empty', label:{image:'/fbhyzqHY/shield-empty.png', key:'armor-empty'}, html:{class:'number-input--simple number-input--align-center'}})
  .card.card--abilities-skills
    .section.section--abilities-skills
      h2
        +translate({key:'abilities-and-skills'})
      .group.group--abilities-skills
        each attributes, group in spine.abilitiesAndSkills
          .group(class=`group--${group}`)
            h3
              +translate({key:group})
            each skills, attribute in attributes
              .group(class=`group--${attribute}`)
                +number-input({name:attribute, label:{key:attribute}, html:{class:'number-input--boxed'}})
                each skill in skills
                  +number-input({name:skill, label:{key:skill}, html:{class:'number-input--simple  number-input--align-center'}})
  .card.card--knowledge
    .section.section--knowledge
      .group.group--title
        h2
          +translate({key:'abilities-and-skills'})
        +number-input({name:'mind', label:{key:'mind'}, html:{class:'number-input--boxed'}})
      +repeating-section({name:'knowledge'})
        mixin repeating-view
          +display({name:'name'})
          +display({name:'score'})
        mixin repeating-edit
          +text-input({name:'name', list:'knowledge-list', html:{class:'text-input--simple'}})
          +number-input({name:'score', html:{class:'number-input--simple'}})
  .card.card--magic
    .section.section--magic
      h2
        +translate({key:'magic'})
      .group.group--spellcasting
        h3
          +translate({key:'spellcasting'})
        each attribute in ['ability', 'skill', 'total']
          +number-input({name:`spellcasting-${attribute}`, label:{key:attribute}, html:{class:'text-input--simple number-input--align-center labelled--top-center'}})
      .group.group--magic-points
        h3
          +translate({key:'magic-points'})
        each attribute in ['current', 'max']
          +number-input({name:`spellcasting-${attribute}`, label:{key:attribute}, html:{class:'text-input--simple number-input--align-center labelled--top-center'}})
  .card.card--weapons-armor-ammunition-unarmed
    .group.group--weapons-armor
      h2
        +translate({key:'weapons-and-armor'})
      .section.section--weapons
        h2
          +translate({key:'weapons-and-armor'})
        .table.table--weapons
          .table__header
            +translate({key:'name'})  
            +translate({key:'ability-plus-skill'})
            +translate({key:'attributes'})
            +translate({key:'damage'})
            +translate({key:'heart'})
          .table__body
            +repeating-section({name:'condition'})
              mixin repeating-view
                +display({name:'name', html:{class:'text-input--simple'}})
                +display({name:'ability-skill', html:{class:'text-input--simple'}})
                +display({name:'attributes', html:{class:'text-input--simple'}})
                .group.group--damage
                  +display({name:'damage', html:{class:'text-input--simple'}})
                  +display({name:'damage-type', html:{class:'text-input--simple'}})
                +display({name:'heart', html:{class:'text-input--simple'}})
              mixin repeating-edit
                +text-input({name:'name', html:{class:'text-input--simple'}})
                +text-input({name:'ability-skill', html:{class:'text-input--simple'}})
                +text-input({name:'attributes', html:{class:'text-input--simple'}})
                .group.group--damage
                  +text-input({name:'damage', html:{class:'text-input--simple'}})
                  +text-input({name:'damage-type', html:{class:'text-input--simple'}})
                +text-input({name:'heart', html:{class:'text-input--simple'}})
      .section.section--armor
        h2
          +translate({key:'armor'})
        .group.group--armor
          +text-input({name:'armor-name', label:{key:'armor-name-and-info'}, html:{class:'text-input--simple labelled--left'}})
          +rangebar({name:'armor-score', steps: 5})
    .section.section--ammunition
      h2
        +translate({key:'ammunition'})
  .card.card--traits-powers-spells
  